body {
    /* background-color: white; */
    background: url("background4.jpg") no-repeat fixed;
    margin: 0;
    padding: 0;
    font-family: "MyFont";
    font-size: 25px;
    font-weight: 600;
    background-size: cover;
    color: rgb(71, 69, 69);
    height: 100%;
    width: 100vw;
}
@font-face {
    font-family: "MyFont";
    src: url("Fox\ &\ Cat.ttf");
}
@font-face {
    font-family: "MyWebFont";
    src: url("Amatemora.ttf");
}

@font-face {
    font-family: "Welcoming";
    src: url("journal.ttf");
}

html {
    padding: 0;
    margin: 0;
}

/* input & label & textarea */
input {
    border: 1px solid transparent;
    box-shadow: 0px 3px 10px rgba(122, 16, 28, 0.5);
    border-radius: 5px;
    outline: 0;
    width: 40%;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    background: transparent;
    color: rgb(85, 82, 82);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: "MyFont";
    font-size: 23px;
}

input[type="file"] {
    height: 1px;
    width: 1px;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    margin-right: 0;
}

input:focus {
    box-shadow: 0px 3px 10px rgba(122, 16, 28);
}
div.search input {
    margin-bottom: 0;
    font-size: 20px;
}
textarea {
    border: 1px solid transparent;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    outline: 0;
    width: 40%;
    margin-bottom: 20px;
    background: transparent;
    color: rgb(85, 82, 82);
    font-family: "MyFont";
    height: 200px;
    font-size: 23px;
}

textarea.contact {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

textarea.messagearea {
    margin-top: 10px;
    width: 80vw;
    height: 100px;
}

label.change {
    color: red;
    margin-right: 7px;
    margin-left: 7px;
    cursor: pointer;
}

/* h1 & h2 & h3 & p */
h1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.9;
    text-align: center;
}
p.name,
h2.otherprofile {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}
h2.welcome,
p,
h2.list,
h2 {
    text-align: center;
}

h2 {
    margin-top: 50px;
}

h2.length {
    margin-top: 150px;
}
h2.chat-own {
    margin: 10px;
    font-size: 19px;
}
h2.chat-name {
    margin: 10px;
    font-size: 19px;
}

h2.register {
    font-size: 35px;
    margin-top:20px;
}

p.biotext,
p.score,
p.title {
    text-align: left;
}

p.app-name {
    margin-left: 0;
}

p.search {
    padding-top: 40px;
}

p.prof-welcome {
    font-family: "MyWebFont";
    margin-top: 40px;
    margin-bottom: 0;
}
h3.change {
    text-align: center;
    font-size: 15px;
}

h3.private{
    margin-bottom:0;
}
p.x {
    text-align: right;
    font-size: 20px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
h2.people-name {
    align-self: center;
}

/* buttons */
button {
    opacity: 0.9;
    text-align: center;
    font-family: "MyFont";
}

button.upload,
button.create,
button.login,
button.reset,
button.accept-btn,
button.bio,
button.add,
button.edit,
button.save,
button.submit,
button.contact {
    cursor: pointer;
    border-radius: 10px;
    color: rgb(85, 82, 82);
    border: 1px solid transparent;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 20px;
    font-size: 18px;
    font-weight: bold;
    height: 60px;
    width: 180px;
    justify-content: center;
    align-self: center;
}
button.submitform {
    cursor: pointer;
    border-radius: 10px;
    color: rgb(85, 82, 82);
    border: 1px solid transparent;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 20px;
    font-size: 18px;
    font-weight: bold;
    height: 60px;
    width: 180px;
    margin-top: 20px;
    justify-content: center;
    align-self: center;
}
form {
    display: flex;
    flex-direction: column;
}
form.register-form {
    position: relative;
    top: 50%;
}
button.upload {
    font-size: 12px;
    justify-content: center;
    align-self: center;
    text-align: center;
    height: 50px;
    width: 80px;
}
.upload-image {
    border: 0;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.upload.image:hover {
    box-shadow: 0px 3px 10px rgba(122, 16, 28);
}
button.friend-button {
    margin-left: 80px;
}

button.edit {
    align-self: flex-start;
    justify-self: flex-start;
}

button:hover {
    box-shadow: 0px 3px 10px rgba(122, 16, 28, 0.5);
    opacity: 1;
}

/* buttons */
/* div */
div.modal {
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(122, 16, 28, 0.5);
    flex-direction: column;
    margin-top: 140px;
    width: 150px;
    height: 200px;
    display: flex;
    font-size: 17px;
    z-index: 1;
    position: fixed;
    left: 88%;
    transition: left 0.5s linear;
    justify-content: space-around;
}

div.modal a:hover {
    box-shadow: 0px 3px 10px rgba(122, 16, 28, 0.5);
}

div.needs-table,
div.donations-table {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
}

div.need-item,
div.donation-item {
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(122, 16, 28, 0.5);
}
div.need-item p,
div.donation-item p {
    text-align: left;
    margin-left: 20px;
    font-size: 19px;
}
.need-item,
.donation-item:hover {
    box-shadow: 0px 3px 10px rgba(122, 16, 28, 1);
}

.need-item:hover {
    box-shadow: 0px 3px 10px rgba(122, 16, 28, 1);
}

div.map {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
div.send-choose{
    display:flex;
    flex-direction:column;
    height:106px;
    margin-top:10px;

}

div.send-part {
    display: flex;
    flex-direction: row;
    width: 50vw;
}

div.search {
    margin-top: 20px;
}
div.search-big {
    margin-top: 80px;
}
div.downlink {
    /* padding-top: 70px; */
    text-align: center;
    /* margin-top: 100px; */
}
div.uplink {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.links a:hover {
    border-bottom: 1px solid rgba(122, 16, 28, 0.5);
}

div.header {
    top: 0;
    display: flex;
    justify-content: space-between;
    background: url("background4.jpg") no-repeat fixed;
    background-size: cover;
    height: 130px;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

div.slogan {
    position: relative;
    left: 50%;
    top: 250px;
    font-size: 28px;
    transform: translateX(-50%);
    text-align: center;
    width: 50vw;
    height: 30vh;
}

div.about-part {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70vw;
    height: 30vh;
    margin-top: 150px;
}

div.copyright-icons {
    display: flex;
    margin-top: 200px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

div.copyright-icons-about {
    display: flex;
    margin-top: 400px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

div.copyright-icons-contact {
    display: flex;
    margin-top: 400px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

div.contact-part {
    margin-top: 150px;
}

div.copyright-icons-home {
    display: flex;
    margin-top: 400px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

div.copyright-icons-chat {
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

div.copyright-icons-password {
    display: flex;
    margin-top: 400px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

div.copyright {
    align-items: center;
    font-size: 18px;
}

div.icons img {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    cursor: pointer;
}

div.icons {
    margin-left: 100px;

    justify-content: end;
}

div#map {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
div.needy,
div.donation {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    margin-right: 90px;
    margin-left: 90px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(122, 16, 28, 0.5);
}

div.needy:hover,
div.donation:hover {
    box-shadow: 0px 3px 10px rgba(122, 16, 28);
}
div.numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.need-number,
div.donate-number {
    display: flex;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(122, 16, 28, 0.5);
    width: 200px;
    height: 250px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.donate-part,
div.needs-part {
    position: relative;
    margin-top: 130px;
}
div.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
}

div.welcoming {
    margin-top: 170px;
    text-align: center;
    font-family: "Welcoming";
    font-size: 38px;
}

div.main {
    display: flex;
    flex-direction: column;
}
div.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 40px;
    margin-top: 200px;
}
div.profile-pic {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(122, 16, 28, 0.5);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin-right: 30px;
    margin-top: 20px;
    cursor: pointer;
}

div.profile-pic p {
    margin-top: 10px;
}

div.profile-pic:hover {
    box-shadow: 0px 3px 10px rgba(122, 16, 28);
}
div.biopart {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

div.text.area {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: flex-start;
}

div.links {
    align-self: center;
}

div.slide {
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(122, 16, 28, 0.5);
    flex-direction: column;
    margin-top: 140px;
    width: 150px;
    height: 200px;
    display: flex;
    font-size: 17px;
    z-index: 1;
    position: fixed;
    justify-content: space-around;
    left: 100%;
    transition: left 0.5s linear;
}

div.component {
    display: flex;
    justify-content: center;
    align-self: center;
}

div.namepart {
    flex-direction: row;
}

div.logo-part {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: MyWebfont;
    font-size: 33px;
}

div.right p {
    background: rgba(122, 16, 28, 0.5);
    float: right;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 10px;
}

div.left p {
    background: rgb(136, 136, 236, 0.5);
    float: left;
    border-radius: 10px;
    padding-right: 40px;
    padding-left: 10px;
}

div.name-time-left {
    float: left;
    display: flex;
    justify-content: flex-start;
}

div.name-time-right {
    float: right;
    display: flex;
    justify-content: flex-end;
}

div.actual-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* images */
img.logo {
    height: 150px;
    width: 150px;
}

img.send{
    width:55px;
    height:55px;
    cursor:pointer;
}

img.send:hover {
    box-shadow: 0px 3px 10px rgba(122, 16, 28);
    border-radius:10px;
}
img.donation,
img.needy {
    width: 190px;
    height: 250px;
}

img.bin {
    width: 25px;
    height: 25px;
    position: fixed;
    top: 5px;
}

img.bin-need {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
img.chat {
    width: 40px;
    height: 40px;
}
img.logo2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

img.logobig {
    cursor: pointer;
    height: 250px;
    width: 250px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
img.loading {
    height: 400px;
    width: 400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
}
div.right img.photo {
    width: 200px;
    height: 200px;
    float: right;
    border-radius: 10px;
}
div.toast {
    font-family: "MyFont";
}
div.left img.photo {
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 10px;
}
img.pic,
div.otherprofile-pic img {
    height: 200px;
    width: 200px;
    margin: 30px;
    border-radius: 50%;
    margin-left: 0;
    padding-left: 0;
}
img.avatar {
    cursor: pointer;
    height: 200px;
    width: 200px;
    margin: 30px;
    border-radius: 50%;
    margin-left: 0;
    padding-left: 0;
}

img.choose {
    width: 55px;
    height: 55px;
    cursor: pointer;
}
img.choose:hover {
    box-shadow: 0px 3px 10px rgba(122, 16, 28);
    border-radius:10px;
}
img.info {
    margin-right: 35%;
    position: absolute;
}
header img.avatar {
    cursor: pointer;
    height: 90px;
    width: 90px;
    margin: 30px;
    border-radius: 50%;
    margin-left: 0;
    padding-left: 0;
}
/* images */

/* header & li & ul & a */
header {
    display: flex;
    justify-content: space-between;
    height: 130px;
    position: fixed;
    background: url("background4.jpg") no-repeat center fixed;
    background-size: cover;
    width: 100vw;
    z-index: 1;
}

footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100vw;
}
a {
    text-align: center;
    color: rgb(85, 82, 82);
    text-decoration: none;
}

#nav-link {
    cursor: pointer;
}

div.links a {
    text-decoration: none;
}

.locate {
    position: absolute;
    margin-left: 25%;
    margin-top: 5%;
    background: none;
    border: none;
    z-index: 10;
}
.locate-big {
    position: absolute;
    margin-left: 25%;
    margin-top: 10%;
    background: none;
    border: none;
    z-index: 10;
}

.locate:hover,
.locate-big:hover {
    box-shadow: 0px 3px 10px rgba(122, 16, 28);
    border-radius: 10px;
}
div.register-link {
    text-align: center;
}
a:hover {
    color: red;
}
ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
li {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    padding: 10px;
    align-self: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 3px 3px rgba(122, 16, 28, 0.5);
    width: 70%;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    z-index: 5;
    cursor: pointer;
}
li:hover {
    background-color: rgb(209, 130, 139);
    color: white;
}
span.space {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 25px;
}
span.label {
    font-size: 25px;
}
span.app {
    font-family: MyWebfont;
}
/* header & li & ul & a */
/* chat-part*/
.chat-box {
    margin-top: 30px;
    height: 300px;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid transparent;
    box-shadow: 0px 3px 10px rgba(122, 16, 28, 0.5);
    border-radius: 5px;
    width: 50vw;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 5px;
}

.message {
    margin-top: 0;
}
.chat-part {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.private-box {
    margin-top: 10px;
    max-height: 400px;
    /* height: 30px; */
    overflow-y: auto;
    border: 1px solid transparent;
    box-shadow: 0px 3px 10px rgba(122, 16, 28, 0.5);
    border-radius: 5px;
    width: 50vw;
    display: flex;
    flex-direction: column;
}
.main-box{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    
}
.private-part {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid transparent;
    box-shadow: 0px 3px 10px rgba(122, 16, 28, 0.5);
    border-radius: 5px;
    width:55vw;
    background: rgba(255, 255,255, 0.5);
}
.name-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.time {
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
}

.small {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
/* chat-part*/

@media (max-width: 865px) {
    div.links {
        font-size: 17px;
    }
    div.copyright {
        font-size: 13px;
    }

    div.actual-logo {
        width: 200px;
        height: 130px;
    }
    p.app-name {
        font-size: 17px;
    }

    div.profile-pic {
        width: 70px;
        height: 70px;
    }

    div.profile-pic p {
        font-size: 13px;
    }

    .locate-big {
        margin-top: 20%;
    }
    .locate {
        margin-top: 7%;
    }
}

@media (min-width: 865px) and (max-width: 1000px) {
    .locate-big {
        margin-top: 15%;
    }
    .locate {
        margin-top: 7%;
    }
}
